@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to My Sample Application</h1>
</div>
</br></br>
<div>
    <h4>We are here to give Multiple Business Solutions for the Customers</h4>
    <br>
    <h5>A: IT</h5>
    <h5>B: NON-IT</h5>
    <h5>C: Retail</h5>
    <h5>D: Medical</h5>
    </br>
</div>
